body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

#history td {
    vertical-align: middle;
}
#history tr td:nth-child(1) {
    min-width: 7em;
}
#history tr td:nth-child(3) {
    min-width: 7em;
}
#history thead tr:nth-child(1) {
    font-weight: bold;
}
